* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.bg{
    background-image: url("../Aulas-html/topcar.jfif");
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-attachment: fixed;
}
 .banner1{
    background-image: url("../Aulas-html/topcar.jfif");
 }
 .banner2{
    background-image: url("../Aulas-html/satoro\ gozo.jfif");
 }
 .banner3{
    background-image: url("../Aulas-html/topcar.jfif");
 }
 .banner4{
    background-image: url("../Aulas-html/satoro\ gozo.jfif");
 }